# Analysis of the costs of using the offers of the Deutsche Bahn with and without an business contract
---

The relevant company has a contract with the Deutsche Bahn which enables them to use the flexible business price ("Flexpreis Business") with an additional discount of 5%, which has the advantage of giving a lot of flexibility, allowing the passanger to take any connection ony day before up to three days after the booked ticket. On the other hand, this arrangement prevents them from being able to book the savings price ("Sparpreis"), which, while being less flexible by pricing any cancelation at 10€, usually is significantly cheapcer.<br>
It is now in the companies interest to find out whether they should keep the contract by comparing how much money they would save by terminating it to the inevitable loss of flexibility that this choice would entail.<br>
In any case the employers of the company can also standardly book the normal flexible price ("Flexpreis") and the first class.

## Code

Said comparision will be made by uploading the relevant data into pandas and then doing some calculations and estimations on its ground.

Import dependencies.

In [ ]:
#pandas to create tables
import pandas as pd

### Importing the Companies Data

Give the name of the file where the data containing the informatin about every travelling connection that the company uses is stored.

In [ ]:
df_name = input("Please give name of file containing information about travelling connections.\nDo not omit the file ending, such as .csv or .txt\n")

Please give name of file containing information about travelling connections.
Do not omit the file ending, such as .csv or .txt
DB_Daten_Can.txt

In [ ]:
#import said data as panda table
if ".xlsx" in df_name:
  df = pd.read_excel(df_name, sep=" ", index_col=0)
else:
  df = pd.read_csv(df_name, sep=" ", index_col=0)

We take a look at the first entries of our table to see if we imported the right data.

In [ ]:
#show first 5 rows of our data.
df.head()

,Startbahnhof,Zielbahnhof,PKM,1.Klasse,2.Klasse,Gesamt,1.Kl.Quote,1.Klasse.1,2.Klasse.1,Gesamt.1,1.Kl.Quote.1,1.Klasse.2,2.Klasse.2,Gesamt.2,1.Klasse.3,2.Klasse.3,Gesamt.3
TOP,,,,,,,,,,,,,,,,,
1,BERLIN,MANNHEIM,520.208,325,461,786,"41,3%",50,13,63,"79,4%",275,448,723,"550,0%","3446,2%","1147,6%"
2,MANNHEIM,MÜNCHEN,124.848,237,97,334,"71,0%",5,2,7,"71,4%",232,95,327,"4640,0%","4750,0%","4671,4%"
3,Frankfurt(M)Flugh.,MANNHEIM,31.411,119,192,311,"38,3%",0,6,6,"0,0%",119,186,305,"100,0%","3100,0%","5083,3%"
4,DÜSSELDORF,MANNHEIM,77.993,133,94,227,"58,6%",0,8,8,"0,0%",133,86,219,"100,0%","1075,0%","2737,5%"
5,KÖLN,MANNHEIM,51.846,101,70,171,"59,1%",10,2,12,"83,3%",91,68,159,"910,0%","3400,0%","1325,0%"

The column "2. Klasse" shows how often any of the flexible prices ("Flexpreise") have been booked. We now need further information about the ratio between the usage of the normal flexible price ("Flexpreis") and the flexible business price ("Flexpreis Business). We assume that this ratio equally applies to all the connections.

In [ ]:
flex = int(input("How often has the Flexpreis been used in general?\n"))
flex_business = int(input("And how often has the Flexpreis Business been used?\n"))

How often has the Flexpreis been used in general?
790
And how often has the Flexpreis Business been used?
1716

In [ ]:
#To transform this absolute amounts into a ratio and display them as percent, we need a little helper function
def show_as_percentage(x):
  return f'{round(100*x,2)}%'

In [ ]:
flex_ratio = flex/(flex + flex_business)
print("Flex Fahrten ingesamt:", flex, "| Anteilig:", show_as_percentage(flex_ratio))
print("Flex Business Fahrten insgesamt:", flex_business, "| Anteilig:", show_as_percentage(1-flex_ratio))

Flex Fahrten ingesamt: 790 | Anteilig: 31.52%
Flex Business Fahrten insgesamt: 1716 | Anteilig: 68.48%

Using this ratio, we will now divide the column "2.Klasse" into the estimated amount of times that Flexpreis vs Flexpreis Business has been used.<br>
Afterwards we will deleted all columns containing information that we do not need right now.

In [ ]:
#add columns "Flex Fahrten" and "Flex Business Fahrten"
df["Flex Fahrten"] = round(df["2.Klasse"]*flex_ratio).astype(int)
df["Flex Business Fahrten"] = round(df["2.Klasse"]*(1-flex_ratio)).astype(int)

In [ ]:
#select only the columns that we need
df = df[["Startbahnhof", "Zielbahnhof", "Flex Fahrten", "Flex Business Fahrten"]]

We take a look at the first entries of our current table.

In [ ]:
#show first 5 rows of table
df.head()

           Startbahnhof Zielbahnhof  Flex Fahrten  Flex Business Fahrten
TOP
1                BERLIN    MANNHEIM           145                    316
2              MANNHEIM     MÜNCHEN            31                     66
3    Frankfurt(M)Flugh.    MANNHEIM            61                    131
4            DÜSSELDORF    MANNHEIM            30                     64
5                  KÖLN    MANNHEIM            22                     48

### Import Data of Deutsche Bahn

Now it is time to find out the flexible, flexible business and savings prices for every of the connections by using the site of the Deutsche Bahn and store it in some type of file.<br>
Afterwards, we can import it into our notebook.

In [ ]:
df_prices_name = input("Please give name of file containing prices of connections.\nDo not omit the file ending, such as .csv or .txt\n")

Please give name of file containing prices of connections.
Do not omit the file ending, such as .csv or .txt
Book2.xlsx

In [ ]:
#import said data as panda table
if ".xlsx" in df_prices_name:
  df_prices = pd.read_excel(df_prices_name, index_col=0)
else:
  df_prices = pd.read_csv(df_prices_name, index_col=0)

Again, we take a look at the first entries to make sure that we did not commit any mistake.

In [ ]:
#show first 5 rows of table
df_prices.head()

   Sparpreis  Flex öff.  Flex Business
1       33.9      151.9         165.85
2       21.9       98.4         108.95
3       21.9       28.8          34.95
4       29.9       68.4          77.05
5       27.9       61.0          69.15

We will now merge this data into our main table.

In [ ]:
df[df_prices.columns] = df_prices[df_prices.columns]

In [ ]:
#show first 5 rows of table
df.head()

,Startbahnhof,Zielbahnhof,Flex Fahrten,Flex Business Fahrten,Sparpreis,Flex öff.,Flex Business
TOP,,,,,,,
1,BERLIN,MANNHEIM,145,316,33.9,151.9,165.85
2,MANNHEIM,MÜNCHEN,31,66,21.9,98.4,108.95
3,Frankfurt(M)Flugh.,MANNHEIM,61,131,21.9,28.8,34.95
4,DÜSSELDORF,MANNHEIM,30,64,29.9,68.4,77.05
5,KÖLN,MANNHEIM,22,48,27.9,61.0,69.15

### Costs with and without contract

Based on this data, we can now calculate the costs for the case that the company holds the contract with the Deutsche Bahn and estimate the costs for the case in which they would not.<br>
Do to so, we assume that every employee that was using the Flexpreis Business would then use the normal Flexpreis instead (in shortage of other options besides first class) and that every employee that was using the normal Flexpreis already would use the Sparpreis instead and accept the fee of 10 Euros for every time a cancelation is necessary.<br>
We therefore need to know how often cancelations occur.

In [ ]:
cancellation_rate = float(input("How high is the cancellation fee (Storno-Quote)?\nPlease give in form of a decimal number with a dot.\n"))

How high is the cancellation fee (Storno-Quote)?
Please give in form of a decimal number with a dot.
0.135

To calculate the costs with said contract, we now just have to sum the product of "Flex Fahrten" and their price with the product of "Flex Business Fahrten" and their price.

In [ ]:
#we also round the results and turn them into an integer
df["Mit Vertrag"] = round(df["Flex Fahrten"] * df["Flex öff."] + df["Flex Business Fahrten"] * df["Flex Business"]).astype(int)

To estimate the costs without said contract, we need to multiply the "Flex Fahrten" with the sum of the "Sparpreis" and the 10 Euros additional fee multiplied with the cancelation rate.<br>
Then we add the product of "Flex Business Fahrten" and the "Flexpreis".

In [ ]:
#we also round the results and turn them into an integer
df["Ohne Vertrag"] = round(df["Flex Fahrten"] * (df["Sparpreis"] + 10 * cancellation_rate) + df["Flex Business Fahrten"] * df["Flex öff."]).astype(int)

Finally, we can take the difference between both costs by substracting them from each other.

In [ ]:
df["Differenzbetrag"] = df["Mit Vertrag"] - df["Ohne Vertrag"]

Let us take a look at the final table now.

In [ ]:
df

,Startbahnhof,Zielbahnhof,Flex Fahrten,Flex Business Fahrten,Sparpreis,Flex öff.,Flex Business,Mit Vertrag,Ohne Vertrag,Differenzbetrag
TOP,,,,,,,,,,
1,BERLIN,MANNHEIM,145,316,33.9,151.90,165.85,74434,53112,21322
2,MANNHEIM,MÜNCHEN,31,66,21.9,98.40,108.95,10241,7215,3026
3,Frankfurt(M)Flugh.,MANNHEIM,61,131,21.9,28.80,34.95,6335,5191,1144
4,DÜSSELDORF,MANNHEIM,30,64,29.9,68.40,77.05,6983,5315,1668
5,KÖLN,MANNHEIM,22,48,27.9,61.00,69.15,4661,3572,1089
6,FRANKFURT(MAIN),MANNHEIM,31,68,21.9,34.20,40.65,3824,3046,778
7,HAMBURG,MANNHEIM,21,46,33.9,141.25,154.65,10080,7238,2842
8,Lemförde,MÜNSTER(WESTF),42,92,23.9,25.50,31.45,3964,3406,558
9,DRESDEN,MANNHEIM,9,21,61.9,131.55,144.30,4214,3332,882
10,Diepholz,MÜNSTER(WESTF),38,82,23.9,32.70,39.05,4445,3641,804
11,HANNOVER,MANNHEIM,8,18,33.9,111.25,122.75,3100,2284,816
12,Bohmte,MÜNSTER(WESTF),33,71,23.9,24.90,30.80,3008,2601,407
13,BERLIN,LUDWIGSHFN(RH),19,42,69.9,151.85,165.85,9851,7731,2120
14,MANNHEIM,MÜNSTER(WESTF),9,20,29.9,125.15,137.45,3875,2784,1091
14,MANNHEIM,STUTTGART,18,38,29.9,125.15,137.45,7476,5318,2158
16,BaselBadBf,MANNHEIM,12,25,29.9,67.40,76.00,2709,2060,649
16,ESSEN,MANNHEIM,15,32,29.9,67.40,76.00,3443,2626,817
18,BERLIN,Limburgerhof,17,38,29.9,153.85,168.05,9001,6378,2623
18,MINDEN(WESTF),MÜNSTER(WESTF),25,55,29.9,153.85,168.05,13089,9243,3846
20,Lemförde,MANNHEIM,1,3,36.9,131.75,144.50,565,434,131

Finally, we can sum now over the last three columns to get the alltogether costs with and without a contract as well as their difference.

In [ ]:
#sum over column of costs with contract
costs_contract = df["Mit Vertrag"].sum()
#sum over column of costs without a contract
costs_no_contract = df["Ohne Vertrag"].sum()
#take difference of both costs
costs_difference = costs_contract - costs_no_contract

#print results
print("Folgende Angaben beziehen sich auf Buchungen der 2. Klasse:")
print("")
print("Die Gesamtkosten mit Vertrag belaufen sich auf", costs_contract, "Euro.")
print("Die Gesamtkosten ohne Verträg beliefen sich auf", costs_no_contract, "Euro.")
print("")
print("Durch Kündigen des Vertrages würde man also", costs_difference, "Euro sparen, also", show_as_percentage(costs_difference/costs_contract))

Folgende Angaben beziehen sich auf Buchungen der 2. Klasse:

Die Gesamtkosten mit Vertrag belaufen sich auf 185298 Euro.
Die Gesamtkosten ohne Verträg beliefen sich auf 136527 Euro.

Durch Kündigen des Vertrages würde man also 48771 Euro sparen, also 26.32%

We can also save the final table as an csv by executing the next line.

In [ ]:
#save table as csv
df.to_csv("DB Analye Firmenrate.csv", sep=";")